.hothead-red {
 background-color: #f96167;
 color: #fce77d;
}

.hothead-yellow {
 background-color: #fce77d;
 color: #f96167;
}

.monkeybar-yellow {
 background-color: #f9d342;
 color: #292826;
}

.monkeybar-black {
 background-color: #292826;
 color: #f9d342;
}

.glo-pink {
 background-color: #df678c;
 color: #3d155f;
}

.glo-purple {
 background-color: #3d155f;
 color: #df678c;
}

.crowdshoes-green {
 background-color: #ccf381;
 color: #4831d4;
}

.crowdshoes-blue {
 background-color: #4831d4;
 color: #ccf381;
}

.strabell-purple {
 background-color: #4a274f;
 color: #f0a07c;
}

.strabell-orange {
 background-color: #f0a07c;
 color: #4a274f;
}

.spacebox-navy {
 background-color: #2b3252;
 color: #FAD744;
}

.spacebox-red {
 background-color: #ef5455;
 color: #2b3252;
}

.spacebox-yellow {
 background-color: #fad744;
 color: #ef5455;
}

.aviance-yellow {
 background-color: #fff748;
 color: #3c1a5b;
}

.aviance-purple {
 background-color: #3c1a5b;
 color: #fff748;
}

.hiveworks-blue {
 background-color: #2f3c7e;
 color: #fbeaeb;
}

.hiveworks-pink {
 background-color: #fbeaeb;
 color: #2f3c7e;
}

.sonata-red {
 background-color: #ec4d37;
 color: #1d1b1b;
}

.sonata-black {
 background-color: #1d1b1b;
 color: #ec4d37;
}

.eagleeye-turquoise {
 background-color: #8bd8bd;
 color: #243665;
}

.eagleeye-blue {
 background-color: #243665;
 color: #8bd8bd;
}

.jive-blue {
 background-color: #141a46;
 color: #ec8b57;
}

.jive-orange {
 background-color: #ec8b57;
 color: #141a46;
}

.stylus-white {
 background-color: #ffffff;
 color: #8aaae5;
}

.stylus-orange {
 background-color: #8aaae5;
 color: #ffffff;
}

.greenfair-green {
 background-color: #295f2d;
 color: #ffe67c;
}

.greenfair-yellow {
 background-color: #295f2d;
 color: #ffe67c;
}

.empire-orange {
 background-color: #f4a950;
 color: #161b21;
}

.empire-black {
 background-color: #161b21;
 color: #f4a950;
}

.klutz-pink {
 background-color: #eb2188;
 color: #080a52;
}

.klutz-blue {
 background-color: #080a52;
 color: #eb2188;
}

.blackandwhite {
 background-color: #ffffff;
 color: #000000;
}

.blackandwhite-inv {
 background-color: #000000;
 color: #ffffff;
}